
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #b2b6ba; /* Couleur de fond */
}

header {
    background-color: #222; /* Correction ici */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;
}

header .logo a {
    font-size: 25px;
    color: #ffc61a;
    text-decoration: none;
}

header .logo a span {
    color: #fff;
}



.popup {
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup ion-icon {
    color: #28a745; /* Couleur de l'icône */
    font-size: 50px;
}

.popup h2 {
    color: #28a745; /* Couleur du titre */
    margin-top: 10px;
}

.popup p {
    color: #333; /* Couleur du texte */
    margin-top: 10px;
}

.popup button {
    width: 100%;
    background: #28a745; /* Couleur du fond du bouton */
    padding: 10px;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff; /* Couleur du texte du bouton */
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.popup button:hover {
    background: #218838; /* Couleur de survol du bouton */
}
